# ignore ".idea" pycharm folder
.idea
# ignore virtual environments "venv"
/venv
# ignore __pycache__
__pycache__
# ignore csv files
*.csv
# ignore images
*.jpg
# ignore extracted data
/data_extracted
